<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <script src="/script/jquery-3.6.0.min.js"></script>
    <script src="/script/base.js"></script>
    <link href="/css/adminUI.css" rel="stylesheet" />
    <style>
        input{
            outline-style: none ;
            border: 3px solid #ccc;
            border-radius: 9px;
            padding: 10px 10px;
            width: 100px;
            font-size: 22px;
        }
        input:focus{
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
        }
    </style>
</head>
<body>

<!--<div class="top">-->
<!--    <div style="float: right;font-size: 30px;padding-top: 15px">-->
<!--        <a href="/GotoAdminLoginPage">登出</a>-->
<!--    </div>-->
<!--</div>-->
<!--<ul>-->
<!--    <li id="click_1"><a href="/ManageOrder">订单管理</a></li>-->
<!--    <div class="funBackgroungColor">-->
<!--                <li id="fun1" class="hidden"><a href="/addBookPage">新建订单</a></li>-->
<!--                <li id="fun2" class="hidden"><a href="/addCategoryPage">新建类别</a></li>-->
<!--                <li id="fun2" class="hidden"><a href="/showBooksPage">查询书籍</a></li>-->
<!--    </div>-->
<!--    <li id="click_2"><a href="/GotoManageUsers">用户管理</a></li>-->
<!--    <div class="funBackgroungColor">-->
<!--                <li id="fun3" class="hidden"><a href="/showUsersPage">查询用户</a></li>-->
<!--                <li id="fun4" class="hidden"><a href="/addUserPage">新增用户</a></li>-->
<!--    </div>-->
<!--        <li id="click_3"><a href="#">订单信息</a></li>-->
<!--        <div class="funBackgroungColor">-->
<!--            <li id="fun5" class="hidden"><a href="/allBorrowBooksRecordPage?pageNum=1">所有记录</a></li>-->
<!--        </div>-->
<!--</ul>-->

<div class="top">
    <div style="float: right;font-size: 30px;padding-top: 15px">
        <a href="/GotoAdminLoginPage">登出</a>
    </div>
</div>
<ul>
    <li id="click_1"><a href="/GotoManageOrder">订单管理</a></li>
    <li id="click_2"><a href="/GotoManageUsers">用户管理</a></li>
    <li id="click_3"><a href="/GotoManageRoom">房间管理</a></li>
</ul>

<div style="margin-left:18%;padding:1px 16px;">
    <h1 th:text="${user_name}">1</h1>
    <h2>欢迎使用酒店管理系统</h2>
</div>
</body>
</html>