<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>修改订单详情</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div id="lunkuo">
  <h1>修改订单详情</h1><br>
  <form action="/ChangeOrderInfo"  method="post">
    <input type="text" name="id" id="id"  placeholder="请输入要修改的订单号"><br><br>
    <input type="password" name="user_name" id="user_name" placeholder="请输入要修改的用户名"><br><br>
    <input type="text" name="type" id="type" placeholder="请输入要修改的房间类型"><br><br>
    <input type="tel" name="price" id="price" placeholder="请输入要修改的价格" ><br><br>
    <input type="tel" name="in_date" id="in_date" placeholder="请输入要修改的入住时间" ><br><br>
    <input type="tel" name="out_date" id="out_date" placeholder="请输入要修改的离开时间" ><br><br>
    <input type="submit" value="提交修改">
  </form>
  <form action="/GotoManageOrder"  method="post">
    <input type="submit" value="返回">
  </form>
</div>
</body>
</html>