<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <script src="/script/jquery-3.6.0.min.js"></script>
    <script src="/script/base.js"></script>
    <link href="/css/adminUI.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap-min.css}" rel="stylesheet">
    <script src="/script/bootstrap.min.js"></script>
</head>
<body>

<div class="top">
    <div style="float: right;font-size: 30px;padding-top: 15px">
        <a href="/GotoAdminLoginPage">登出</a>
    </div>
</div>
<ul>
    <li id="click_1"><a href="/ManageOrder">订单管理</a></li>
    <div class="funBackgroungColor">
        <!--        <li id="fun1" class="hidden"><a href="/addBookPage">新建订单</a></li>-->
        <!--        <li id="fun2" class="hidden"><a href="/addCategoryPage">新建类别</a></li>-->
        <!--        <li id="fun2" class="hidden"><a href="/showBooksPage">查询书籍</a></li>-->
    </div>
    <li id="click_2"><a href="/ManageUsers">用户管理</a></li>
    <div class="funBackgroungColor">
        <!--        <li id="fun3" class="hidden"><a href="/showUsersPage">查询用户</a></li>-->
        <!--        <li id="fun4" class="hidden"><a href="/addUserPage">新增用户</a></li>-->
    </div>
    <!--    <li id="click_3"><a href="#">订单信息</a></li>-->
    <!--    <div class="funBackgroungColor">-->
    <!--        <li id="fun5" class="hidden"><a href="/allBorrowBooksRecordPage?pageNum=1">所有记录</a></li>-->
    <!--    </div>-->
</ul>
<div style="margin-left:18%;padding:1px 16px;">
    <h3 style="text-align: center">个人信息</h3>
    <table>
        <form action="/DeleteUser" method="post">
            <input name="name" id="name" placeholder="输入要删除的用户名">
            <input type="submit" value="删除">
        </form>
        <tr>
            <th>用户ID</th>
            <th>用户姓名</th>
            <th>用户密码</th>
            <th>用户电话</th>
            <th>用户邮箱</th>
            <th>操作</th>
        </tr>
        <tr th:each="user:${alluser}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}">2</td>
            <td th:text="${user.password}">3</td>
            <td th:text="${user.phone}">4</td>
            <td th:text="${user.email}">5</td>
            <td>
                <form action="/GotoChangePage">
                    <input type="submit" th:value="修改">
                </form>
            </td>
        </tr>
    </table>
    <br>
</div>
</body>
</html>