<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建订单</title>
    <script type="text/javascript" src="/static/script/bootstrap.js"></script>
</head>
<body>


<div class="col-md-8">
    <div class="input-group input-large" >
        <input type="text" id="datetimepicker1" class="form-control dpd1" name="in_date" data-date-format="yyyy-MM-dd">
        <span class="input-group-addon">到</span>
        <input type="text" id="datetimepicker2" class="form-control dpd2" name="out_date" data-date-format="yyyy-MM-dd">
    </div>
    <span class="help-block">请选择入住时间和离开时间</span>
</div>
</body>
</html>