<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>下单页面</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div style="margin-left:18%;padding:1px 16px;">
    <h3 style="text-align: center">订单信息</h3>
</div>
    <form>
        <tr>
            <th>用户姓名</th>
            <th>房型</th>
            <th>房间价格</th>
            <th>入住时间</th>
            <th>离店时间</th>
            <th>操作</th>
        </tr>
        <br>
        <input th:text="${user_name}"/>
        <input th:text="${type}"/>
        <input th:text="${price}"/>
        <input name = "in_date" id = "in_date" placeholder="入住时间">
        <input name = "out_date" id = "out_date" placeholder="离店时间">
        <td>
            <form action="/CreateOrder">
                <input type="submit" th:value="下单">
            </form>
        </td>
    </form>
</body>
</html>